{% extends "base.html" %}
{% block content %}
<h2>Contact-us Page</h2>
<form action="/contact" method='POST'>
    <div>
        <label>Name: <lable>
        <input type="text" name="name" placeholder="Enter you Name" >
    </div>
    <div>
        <label>Email: <lable>
        <input type="email" name="email" placeholder="Enter you Email" >
    </div>
     <div>
        <label>Age: <lable>
        <input type="number" name="age" placeholder="Enter you Age" >
    </div>
    <button type="submit">Register</button>
</form>
{% endblock %}